rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chat_logs/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /reactions/{docId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /counters/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
