@import "tailwindcss";

:root {
  --color-primary: #0047BB;
  --color-bg-main: #F8FAFC;
  --color-accent: #D4AF37;
  --color-success: #10B981;
  --color-text-main: #1F2937;
  
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  background: radial-gradient(circle at center, white 0%, #F1F5F9 100%);
  min-height: 100vh;
}

h1, h2, h3, .font-serif {
  font-family: var(--font-playfair), serif;
}
